/**********************************************
*** GENERAL
**********************************************/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    color: #555;
    font-family: Lato;
    font-size: 16px;
    position: relative;  
    height: 100vh;
    font-weight: 400;
}

.clearfix::after {
    content: "";
    display: table; 
    clear: both;
}


/**********************************************
*** TOP PART
**********************************************/
.top{
    height: 40vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.35)), to(rgba(0,0,0,0.35))), url(back.png);
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(back.png); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.budget{
    position: absolute;  
    width: 350px;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.budget__title{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.budget__value{
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
        
.budget__income,
.budget__expenses{
    padding: 12px;  
    text-transform: uppercase;
}
.budget__income {
    margin-bottom: 10px; 
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}


.budget__income--text,
.budget__expenses--text {
    float: left; 
    color: black;
    margin-top: 2px;
    font-size: 16px;
    margin-right: 40px;
    width:150px;
}
.budget__income--value,
.budget__expenses--value {
    float: left;
    letter-spacing: 1px;
}

.budget__income--percentage,
.budget__expenses--percentage {
    font-size: 11px;
    float: left;
    width: 34px;
    margin-left: 10px;
    padding: 3px 0;
}

.budget__expenses--percentage {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);  
    border-radius: 4px; 
}


/**********************************************
*** BOTTOM PART
**********************************************/
/***** FORM *****/
.add{
    padding: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;  
}

.add__container{
    text-align: center;
  }
.add__type{    
    width: 55px;
    height: 45px;
    border: 1px solid #e7e7e7; 
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    margin-right: 10px;   
}
.add__description,
.add__value{    
    height: 45px;
    border: 1px solid #e7e7e7; 
    font-size: 14px;
    font-weight: 300;
    padding: 12px 15px;
    margin-right: 10px; 
    border-radius: 5px; 
    color: inherit;
    font-family: inherit;
}
.add__description{    
    width: 400px;
}
.add__value{    
    width: 100px;
}
.add__btn{
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;  
    margin-left: 10px;
}

.add__btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); 
}

.add__btn:focus {
    outline: none;
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}
.ion-ios-checkmark-outline{
    color: #28B9B5;
    
}
/***** LISTS *****/
.container {
    width: 1000px;
    margin: 40px auto;
}

.income, .expenses{
    float: left;   
    width: 500px;
}

.income__title{ color: lightseagreen; }
.expenses__title{ color: red; }

h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.income__list,.expenses__list{float:left;    width: 500px;}
.item{
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child{  border-top: 1px solid #e7e7e7;    }
.item:nth-child(even){   background-color: lightcyan;     }
.item__description {
    width: 250px;
    float: left;
    text-align:left;
}
.item__value {
    width: 100px;
    float: left;
    text-align: right;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
   }
.item__percentage {
    float: left;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
    background-color: #FFDAD9;
    font-size: 11px;
    margin-left: 10px;
}


.income .item__value,
.income .item__delete--btn {
    color: teal;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: red;
}

.item__delete--btn{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;  
    margin-left: 15px;
    line-height: 1;
}

.item__delete--btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); 
}

.item__delete--btn:focus {    outline: none;}


.item:hover .item__delete--btn,
.item:hover .item__value,
.item:hover .item__percentage { -webkit-transform: translateX(-30px); transform: translateX(-30px); }
